.pop_up_title {
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 42px;
    letter-spacing: 0.001em;
    color: #333333;
}


.modal_popup>.close {
    font-family: 'Rubik', sans-serif;
    cursor: pointer;
    position: absolute;
    display: block;
    padding: 2px 5px;
    line-height: 20px;
    right: 5px;
    top: 5px;
    font-size: 24px;
    background: #ffffff;
}
.modal_popup{
    height: 100%;
}
.modal_popup_container{
    padding: 20px;
}

.pop_up_title{
    font-family: 'Rubik', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 42px;
    letter-spacing: 0.001em;
    color: #333333;
}
.pop_up_sub_title{
    font-family: 'Rubik', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.001em;
    text-transform: uppercase;
    color: #828282;
}
@media only screen and (max-width: 700px) {
    
    .popup-content{
        width: 100vw!important;
    }
    .modal_popup_container{
        padding: 0;
    }
    .admin_table_row{
        width: 98%;
        margin: 0 auto;
    }

}
