.delete_service{
    margin: 20px 0 0 0;
    padding-bottom: 25px;
    width: 100%;
    text-align: left;

}
.delete_service_item{
    margin-top: 20px;
    width: 100%;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
}
.delete_ervice_info{

    width: 12%;
    margin: 0 auto;
    overflow: hidden;
}
.delete_ervice_info:nth-child(1){
    width: 30%;
}
.delete_ervice_info.title{
    font-weight: 500;
}
.delete_btn{
    color: #2f80ed;
    text-decoration: none;
    font-weight: 500;
    cursor: pointer;
}
.delete_btn:hover{
    text-decoration: underline;
}
.delete_service_popup_container{
    width: 90%;
    margin: 0 auto;
}

@media only screen and (max-width: 700px) {
    
    .delete_ervice_info:nth-child(2),
    .delete_ervice_info:nth-child(3),
    .delete_ervice_info:nth-child(4){
        display: none;
    }
    .delete_ervice_info{
        width: 50%;
    }
    .delete_ervice_info{
        width: 50%;
        text-align: center;
    }

    .delete_service_popup_container{
        width: 100%;
    }
}