.service_periods_table{
    width: 90%;
    margin: 0 auto;
}
.admin_table_row{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.admin_table_row.title,
.admin_table_col.title{
    font-weight: 500;
}
.admin_table_col{
    width: 12.5%;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
}
.service_periods_table_container{
    overflow: auto;
    margin-bottom: 30px;
}
.period_busy,.period_free,.period_reserved{
    font-size: 30px;
    cursor: pointer;
}
.period_busy{
    color: brown;
}
.period_free{
    color: #4149B9;
}
.period_reserved{
    color:darkcyan;
}
