.main_page {
    position: relative;
}

.ellipse {
    position: absolute;
    top: -200px;
    left: -200px;
    width: 1000px;
    height: 1000px;   
    z-index: -1;
    background: linear-gradient(209.18deg, rgba(224, 195, 252, 0.5) 14.52%, rgba(142, 197, 252, 0.05) 87.34%);
    border-radius: 50%;
}


.main_top_info {
    z-index: 10;
    display: flex;
    align-items: center;
    margin: 0 auto;
}
.main_date_picker{
    display: flex;
    width: 90%;
    justify-content: space-around;
    margin: 0 auto;
}

.main_page_title {
    font-family: 'Rubik', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 58px;
    color: #333333;
}

.main_page_sub_title {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 34px;
    letter-spacing: -0.02em;
    color: #4F4F4F;
}

.main_book_btn{
    width: 100%;
}

.main_section_text{
    margin: 0 auto;
    max-width: 525px;
    margin-top: 100px;
}

.main_section_text_title{
    font-family: 'Rubik', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 42px;
    text-align: center;
    color: #333333;
}

.main_section_text_subtitle{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 34px;
    text-align: center;
    color: #4F4F4F;
    
}

.main_info_steps{
    position: relative;
}

.main_steps{
    display: flex;
    margin: 0 auto;
    width: 80%;
    justify-content: space-between;
}

.main_spep_item{
    width: 15%;
}

.main_step_img img{
    background-color: white;
    padding: 20px;
    margin: 0 auto;
    border-radius: 50%;
}

.main_step_text{
    font-family: 'Rubik', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    color: #4F4F4F;
    text-align: left;
}

.main_step_title{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 34px;
    color: #333333;
}

.custom_hr_line.main{
    position: absolute;
    z-index: -1;
    top: 35px;
    left: 49%;
    transform: translate(-49%,-50%);
    width: 72% ;
    margin: 0;
}

.main_filter_form{
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    width: 100%;
}

.main_filter_form .search_input_group{
    width: 28%;
}

.main_filter_form .search_input_group:nth-child(1){
    width: 36%;
}

.search_input{
    width: 100%;
    height: 47PX;
    background: #D6E8F5;
    border-radius: 10px;
    border: none;
    font-family: 'Rubik', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 20px;
    color: #4149B9;
}

.search_input::placeholder{
    color: #4149B9;

}

.reservation_form_container{
    background-color: white;
    border-radius: 8px;
}

.search_input_group{
    padding: 50px 0 20px 0;
    position: relative;

}

.search_input_name{
    position: absolute;
    top: 16%;
    font-family: 'Rubik', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 16px;
    color: #333333;
    margin-bottom: 10px;
    width: 100%;
}
.main_companies{
    display: flex;
    flex-wrap: wrap;
}

.main_view_companies {

    background: #FFFFFF;
    box-shadow: 0px 4px 25px rgba(24, 28, 75, 0.1);
    border-radius: 8px;
    width: 100%;
    padding-bottom: 30px;
    margin: 40px 1%;
}
.main_view_companies_image{
    width: 100%;
    height: 200px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 8px 8px 0px 0px;
}
.main_companies_no_company{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 34px;
    text-align: center;
    color: #4F4F4F;
}
.book_btns{
    display: flex;
    justify-content: space-around;
}
.book_btns button{
    width: 40%;
}
.selected_day{
    border-left: 1px solid black;
    border-right: 1px solid black;
}

.reservation_confirm_container{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    /* justify-content: center; */
    width: 100%;
    max-width: 700px;
    padding: 0 50px;
}
.main_table_container{
    width: 700px;
}
.guest_form_data_container{
    width: 500px;
    margin: 0 auto;
}

.reservation_confirm_image{
    margin: 0  auto;
}
.reservation_confirm_text{
    
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    text-align: center;
}
.reservation_confirm_title{
    
    font-size: 40px;
    line-height: 40px;
    text-transform: capitalize;
    color: #333333;
}
.reservation_confirm_body{
    margin: 30px 0;
    font-size: 16px;
    line-height: 26px;
    color: #4F4F4F;

}
.error_message_reservation{
    color: red;
    font-size: 20px;
    margin-bottom: 30px;
    text-align: center;
}
.search_input_group.reset_icon{
    font-size: 25px;
    width: 4%;
    cursor: pointer;
}
.search_input_group.reset_icon svg{
    color: #EF6313!important;

}
@media only screen and (max-width: 1000px) {

    .ellipse{
        width: 100%;
        height: 700px;
    }
}
@media only screen and (max-width: 600px) {
    .main_filter_form{
        display: block;
    }
    .search_input_group{
        width: 100%!important;
    }
}
@media only screen and (max-width: 700px) {

    .guest_form_data_container{
        width: 80%;
        margin: 0 auto;
    }
    .main_date_picker{
        display: block;
    }
}
