.services_company_name {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 32px;
    letter-spacing: 0.001em;
    color: #333333;
    margin-bottom: 20px;
}

.service_ropriety {
margin-bottom: 15px;
}

.service_propriety_title {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.001em;
    color: #333333;
}

.service_propriety_info {
    font-family: 'Rubik', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.001em;
    color: #828282;
}
.custom_hr_line{
    border: 1px dashed #BDBDBD;

}
.container_image_services{
    max-width: 342px;
    margin: 0 auto;
}
.services_and_company_container{
    max-height: 394px;
    overflow: auto;
}